Hello, This System is running on {{ ansible_facts['os_family'] }} OS family. <br>
Ip address for this machine is {{ ansible_facts['default_ipv4']['address'] }} <br>
Host name of this system is {{ ansible_facts['hostname'] }} <br>
